.Prato {
    display: inline-block;
    width: 240px;
    text-align: center;
    margin-right: 5rem;

    .Tag {
        background: #f2745f;
        display: inline-block;
        padding: 0.75rem 1rem;
        margin: 1rem 0;
        border-radius: 50px;
        color: #fff;
        font-weight: bold;
    }

    .Container {
        height: 230px;
        width: 200px;
        overflow: hidden;
        border-radius: 0px 0px 20px 20px;
        display: inline-block;

        img {
            transform: skew(0deg, -13deg);
            height: 250px;
            margin: -36px 0px 0px -33px;
        }
    }

    .EfeitoTorcao {
        display: inline-block;
        border-radius: 20px;
        overflow: hidden;
        padding: 0px;
        transform: skew(0deg, 13deg);
        font-size: 0px;
        margin: 30px 0px 0px 0px;
        background: #c8c2c2;
        height: 250px;
        width: 200px;
    }

    .Conteudo {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        padding: 120px 20px 20px 20px;
        border-radius: 20px;
        background: #fff;
        margin: -120px 0px 0px 0px;
        line-height: 19px;
        font-size: 14px;
        text-align: left;

        h3 {
            margin: 20px 0px 10px 0px;
            font-size: 18px;
        }
    }
}

.carrinho{
    display: flex;
    font-weight: bold;
    color: rgb(65, 65, 65);
    align-items: center;
    justify-content: center;
    background-color: rgb(174, 243, 96);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: 180px;
    height: 2rem;
}

.carrinho:hover{
    cursor: pointer;
    background-color:rgb(136, 214, 46);
    color: black;
    transition: 0.2s;
}